

<aside id="inline-cart">

  <div class="underlay"></div>

  <div class="main">

    <div class="top">
      <h3>My bag</h3>
      <a class="close"></a>
    </div>

    <div class="items">
      <div class="scrollable">
        <ul>
          <li>
            <!--
            <img src="//cdn.shopify.com/s/files/1/1090/1794/products/Chupi-Gold-Necklace-Say-My-Name-Initial-Pearl-3a_280x280.jpg?v=1546513463" alt="Default Title" class="img-fluid product-image">
            <h4>Item title</h4>
            <span class="item-price">199.00</span>
            -->
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom">
      <h4>Total</h4>
      <span class="cart-delivery-label">Delivery: <span class="cart-delivery-value">Free</span></span>
      <span class="cart-total-label">Grand Total: <span class="cart-total-value"></span></span>
      <a href="/cart/checkout" onclick="window.location.href='/cart/checkout'" class="btn btn-primary">Checkout</a>
    </div>

  </div> <!-- end .main -->

</aside>
