// main: ../styles.scss



// Mixin for font media query maps
// See: https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (max-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}


// Cross-browser transitions full
@mixin transition($transition...) { // '...' allows for multiple comma-separated parameters
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Cross-browser transition-durations
@mixin transition($duration...) { // '...' allows for multiple comma-separated parameters
  -webkit-transition: $duration;
     -moz-transition: $duration;
       -o-transition: $duration;
          transition: $duration;
}

// Cross-browser transition-delays
@mixin transition-delay($delay...) { // '...' allows for multiple comma-separated parameters
  -webkit-transition-delay: $delay;
     -moz-transition-delay: $delay;
       -o-transition-delay: $delay;
          transition-delay: $delay;
}



// Cross-browser transforms
@mixin transform($transformation) {
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ms-transform: $transformation;
       -o-transform: $transformation;
          transform: $transformation;
}

// Cross-browser transform origin
@mixin transform-origin($transformOriginVal) {
  -webkit-transform-origin: $transformOriginVal;
     -moz-transform-origin: $transformOriginVal;
      -ms-transform-origin: $transformOriginVal;
       -o-transform-origin: $transformOriginVal;
          transform-origin: $transformOriginVal;
}


// Cross-browser animations
// See: http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    animation:         $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
