// main: ../styles.scss


html {
box-sizing: border-box;
}
body {
font-family: $font-family-secondary;
@include font-size($p-text-size);
color: $text-black;
color: var(--color-text-default); // custom
padding-top: 116px;
background-color: $white;
background-color: var(--color-body-background); // custom
}
body.no-scroll {
overflow: hidden;
}
body.no-scroll-y {
overflow-y: hidden;
}
body.no-scroll-x {
overflow-x: hidden;
}
body.notification-ribbon-push {
  margin-top: 48px;
}


// Sections
section {
  display: block;
}
.grid {
  display: grid;
}


// Typography
h1, h2, h3, h4, h5, h6 {
font-family: $font-family-primary;
}
h1 {
@include font-size($h1-size);
font-size: var(--font-size-h1); // custom
font-weight: $font-weight-bold;
text-transform: var(--font-case-h1); // custom
line-height: 1.1;
margin-bottom: 30px;
color: black; // test
}
h2 {
@include font-size($h2-size);
font-size: var(--font-size-h2); // custom
font-weight: $font-weight-bold;
text-transform: var(--font-case-h2); // custom
line-height: 1.2;
margin-bottom: 30px;
}
h3 {
@include font-size($h3-size);
font-size: var(--font-size-h3); // custom
font-weight: $font-weight-bold;
text-transform: var(--font-case-h3); // custom
line-height: 1.1;
margin-bottom: 20px;
}
h4 {
@include font-size($h4-size);
font-weight: $font-weight-bold;
line-height: 1.2;
margin-bottom: 20px;
}
h5 {
@include font-size($h5-size);
font-weight: $font-weight-bold;
line-height: 1.4;
margin-bottom: 20px;
}
h6 {
@include font-size($h6-size);
font-weight: $font-weight-bold;
line-height: 1.4;
margin-bottom: 20px;
}

.text-white {
color: $text-white;
}
.text-black {
color: $text-black;
}


a {
  color: $text-black;
  font-weight: $font-weight-regular;
  text-decoration: none;
  @include transition(all 0.2s ease);
  &:hover, &:focus /*, a:active, a:visited*/ {
    text-decoration: underline;
  }
}

p {
  @include font-size($p-text-size);
  font-size: var(--font-size-paragraph); // custom
  margin-bottom: 30px;
  line-height: 1.6;
  line-height: var(--line-height-paragraph); // custom
}


ul, ol {
  @include font-size($p-text-size);
  padding-left: 20px;
  margin-bottom: 30px;
  li {
    margin-bottom: 10px;
  }
}

img {
  // display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  //margin-bottom: 30px;
}

// Background images and overlays
.image-cover {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.image-cover.image-overlay-light,
.image-cover.image-overlay-dark {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.image-cover.image-overlay-light {
  &:before {
    background-color: rgba(255,255,255,0.7);
  }
}
.image-cover.image-overlay-dark {
  color: $white;
  &:before {
    background-color: rgba(0,0,0,0.6);
  }
}
iframe {
  max-width: 100%;
}
.fve-video-wrapper {
  margin: 50px 0;
}
.block {
  display: block;
}
.center-all {
  text-align: center;
}
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.set-hidden {
opacity: 0;
}
.hidden-overflow {
overflow: hidden;
}
.auto-overflow {
overflow: auto;
}
.mobile-only {
  display: none;
}

// Margins
.mgn-top-xs {
  margin-top: 10px;
}
.mgn-top-sm {
  margin-top: 20px;
}
.mgn-top-md {
  margin-top: 50px;
}
.mgn-top-lg {
  margin-top: 80px;
}
.mgn-top-xl {
  margin-top: 120px;
}
.mgn-bot-xs {
  margin-bottom: 10px;
}
.mgn-bot-sm {
  margin-bottom: 20px;
}
.mgn-bot-md {
  margin-bottom: 50px;
}
.mgn-bot-lg {
  margin-bottom: 80px;
}
.mgn-bot-xl {
  margin-bottom: 120px;
}












@media screen and (max-width: 1400px) {



} /* end max-width 1400px */










@media screen and (max-width: 1199px) {


} /* end max-width 1199px */











@media screen and (max-width: 991px) {



} /* end max-width 991px */











@media screen and (max-width: 767px) {


} /* end max-width 767px */










@media screen and (max-width: 450px) {



} /* end max-width 450px */
